/* 
    UIUC BLUE: #13294b
    UIUC WHITE: #e8e9ea
    UIUC GRAY: #5e6669
    UIUC ORANGE: #E84A27
 */

/* global */
*{
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

h2 {
    color: #13294b;
}

h4 {
    font-weight: 500;
}

body {
    background-color: #e8e9ea;
    /* background-color: transparent; */
    /* background-color: rgb(19, 41, 75); */
    margin: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
/* end global */

/* header and nav bar */
header {
    background-color: #13294b;
    color: #e8e9ea;
}

h1 {
    display: inline-block;
}

nav {
    background-color: #5e6669;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    padding: 5px;
}
/* end header and nav bar */

/* index.html */
#intro-showcase {
    background-image: url(images/andromeda.jpg);
    background-position: center;
    background-size:cover;
    text-align: center;
    padding: 40px;
}

#intro-showcase h1 {
    color: #e8e9ea;
}

.introduction {
    margin: auto;
    width: 50%;
    text-align: center;
    list-style: inside;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 15px;
}

#main-intro {
    padding: 10px;
    float: right;
    max-width: 80%;
    box-sizing: border-box;
    text-align: center;
    font-weight: 500;
}

.introduction img {
    float: left;
    width: 20%;
    height: auto;
    box-sizing: border-box;
}

.box {
    width: 33.3%;
    box-sizing: border-box;
    float: left;
    position: relative;
    /* text-align: center; */
    padding: 35px;
    padding-bottom: 50px;
    /* border-left: 1px solid #5e6669; */
    /* box-shadow: -66px 0px 0px -65px #5e6669; */
}

#border-left {
    border-left: 2px solid #5e6669;
    border-right: 2px solid #5e6669;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 35px;
    left: 0px;
    right: 125px;
    top: 125px;
    bottom: 100px;
}

.box h2 {
    text-align: center;
}
/* end index.html */

/* education.html */
#edu-showcase {
    background-image: url(images/illinois.jpg);
    background-position: 50% 25%;
    background-size: cover;
    text-align: center;
    vertical-align:middle;
    padding: 40px;
}

#edu-showcase h1 {
    color: #e8e9ea;
    /* color: #fff; */
    /* TODO: Mess with opacity */
    background-color: rgba(232, 74, 38, 0.4);
}

.logo img{
    float: left;
    width: 5%;
    max-height: auto;
    box-sizing:border-box;
    margin-top: 64px;
    margin-left: 7.5%;
    /* This margin is the result of the following eq:
    12.5%-max-width. The picture should have a max width of 12.5%
    to account for the schooling section */
}

.schooling {
    width: 25%;
    float:left;
    box-sizing: border-box;
}

/* .schooling h4, .coursework h4, .skills h4{
    font-weight: 500;
} */
.schooling h3{
    margin-bottom: -20px;
}

.schooling ul, .coursework ul, .skills ul {
    margin-top: 0;
}

.skills{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 12.5%;
    padding-right: 50px;
}

.coursework {
    width: 50%;
    float: right;
    position: relative;
    box-sizing: border-box;
    padding-left: 12.5%;
}

#box  {
    width: 50%;
    float: right;
    box-sizing: border-box;
    border-left: 2px solid #5e6669;
    padding-left: 12.5%;
    position: absolute;
    top: 50px;
    /* The footer has a height of ~50px, thats why bottom is 50+50=100 */
    bottom: 100px;
    left: -1px;
}
/* end education.html */

/* experience.html */
#exp-showcase {
    background-image: url(images/orbit.jfif);
    /* background-position:45%; */
    background-position: 0% 57%;
    background-size: cover;
    text-align: center;
    vertical-align:middle;
    padding: 40px;
}

#exp-showcase {
    color: #e8e9ea;
}

.research h4, .jobs h4, .extracurricular h4{
    font-weight: 500;
}

.research a, .box a {
    color: blue;
    text-decoration: underline;
}

.jobs, #to-pad {
    padding-bottom: 65px;
}

/* .extracurricular, .extracurricular button {
    background-color: #5e6669;
} */

.collapsible {
    background-color: #e8e9ea;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding: 0;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    margin: 5px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* end experience.html */

/* projects.html */
#proj-showcase {
    background-image: url(images/code.webp);
    background-position: 50% 25%;
    background-size: cover;
    text-align: center;
    vertical-align:middle;
    padding: 40px;
}

#proj-showcase {
    color: #e8e9ea;
}
/* end projects.html */

/* HOW TO PREVENT HIDING OF TEXT FROM FOOTER */
.coursework, .skills {
    /* When adding more classes, look to implement a 35px padding to 
    remove the whitespace at the bottom */
    padding-bottom: 100px;
}

/* books.html */
#books-showcase {
    background-image: url(images/books.jfif);
    background-position: 50% 75%;
    background-size: cover;
    text-align: center;
    vertical-align:middle;
    padding: 40px;
}

#books-showcase {
    color: #e8e9ea;
}

#column-header {
    text-align: center;
    color: #13294b;
}

#textbook-header {
    width: 20%;
}

#textbook-header, #description-header {
    border: none;
}

.textbooks td{
    border: 1px solid #5e6669;
    padding: 0;
}

.textbooks {
    border-collapse: collapse;
}

#to-pad {
    padding-bottom: 75px;
}
/* end books.html */

/* contact.html */
#contact-showcase h1 {
    color: #e8e9ea;
}

#contact-showcase {
    background-image: url(images/contact2.png);
    background-position: 30%;
    background-size:cover;
    text-align: center;
    vertical-align:middle;
    padding: 40px;
}

#contact-form, #email-header {
    text-align: center;
}

input[type=text], textarea {
    padding: 12px;
    border: 3px solid #e8e9ea;
    width: 20%;
}

input[type=text]:focus, textarea:focus {
    border: 3px solid #5e6669;
}

input[type=submit], input[type=reset] {
    background-color: #13294b;
    color: #e8e9ea;
    width: 10.5%;
    height: 35px;
    cursor: pointer;
}
/* end contact.html */

/* form response */
#good-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* color: ; */
}
/* end form response */

/* footer */
footer{
    background-color: #13294b;
    position:fixed;
    bottom:0;
    width:100%;
    height: auto;
}

footer a {
    margin: 5px;
}

footer ul{
    padding-right: 40px;
}

footer ul {
    text-align: center;
}
/* end footer */

/* SMALL WIDTH SETTINGS */
@media(max-width:700px) {
    /* Header */
    header {
        display: block;
        text-align: center;
    }

    /* Nav Bar */
    nav li {
        display: block;
        text-align: center;
    }


    /* Intro */
    .introduction {
        width: 100%;
        margin: 0;
    }

    .introduction img {
        float: none;
        width: 50%;
        height: auto;
    }

    #main-intro {
        padding: 0;
        float: none;
        text-align: center;
        max-width: 100%;
        font-weight: 500;
        padding: 0px 10px;
    }

    .box {
        width: 100%;
        float: none;
        padding: 0;
    }

    #hobbies {
        padding-bottom: 65px;
    }

    #border-left {
        border: none;
    }

    td:not(#textbook-header, #description-header) {
        width: 50%;
        height: 300px;
        overflow: scroll;
    }
    /* End Intro */

    /* Education */
    #edu-showcase h1{
        /* background-color: transparent; */
        background-color: rgba(232, 74, 38, 0.4);
    }
    .logo img {
        width: 25%;
        float: none;
        display: none;
    }
    .schooling, .skills, .coursework {
        width: 100%;
        float: none;
        padding-left: 12.5%;
    }

    .schooling ul, .coursework ul, .skills ul {
        padding-left: 0;
    }

    .coursework {
        padding-bottom: 0;
    }

    #box {
        border: none;
    }
    /* End education */

    /* contact */
    input[type=text], textarea {
        width: 80%;
    }

    input[type=submit], input[type=reset] {
        width: 25%;
    }
    
    form {
        padding-bottom: 65px;
    }
    /* end contact */

    #good-form {
        width: 100%;
        text-align: center;
        padding-top: 50%;
    }
}